html {
  height: 100%;
  width: 100%;
}
body {
  background: url("img/input_image2.png") no-repeat;
  background-size: cover;
}
#topLeftLogo {
  position: absolute;
  top: 10px;
  left: 10px;
}
#mainText {
  position: absolute;
  top: 34%;
  left: 14%;
  font-size: 800%;
  background: linear-gradient(to right, rgb(139, 52, 46, 0.8), rgba(243, 171, 64, 0.5)); /* red to orange with 50% transparency */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
#mainTextButton {
    position: absolute;
    top: 54%;
    left: 14%;
    font-size: 400%;
    padding: 4px;
    border: 4px solid #a05646;
    border-radius: 34px;
    background: rgb(255, 255, 255, 0.2); /* red to orange with 50% transparency */
    color: white; /* Text color white for better contrast */
    text-align: center; /* Center text inside the button */
}
#mainTextButton:hover {
  background: rgb(255, 255, 255, 0.4); /* red to orange with 50% transparency */
}
.gradientText {
    background: linear-gradient(to right, rgba(139, 52, 46, 0.8), rgba(243, 171, 64, 0.8)); /* red to orange with 50% transparency */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.topBarText {
  position: absolute;
  top: 2%;
  font-size: 20px;
  background: linear-gradient(to right, rgba(139, 52, 46, 0.8), rgba(243, 171, 64, 0.8)); /* red to orange with 50% transparency */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
#topBarText1 {
  right: 23%;
}
#topBarText2 {
  right: 14%;
}
#topBarText3 {
  right: 4%;
}
#topBarWhiteBackground {
  background-color: rgb(255, 255, 255, 0.1); /* red to orange with 50% transparency */
  position: absolute;
  top: 0px;
  right: 0%;
  width: 34%;
  height: 14%;
  border-radius: 14px;
}
/* #topBarText1:hover{
   content: "ok!"; 
   visibility: visible; 
  
  
} */
/* .dropdown-content {
  position: absolute;
  right: 27%;
  top: 4%;
  font-size: 20px;
  background: linear-gradient(to right, rgba(139, 52, 46, 0.8), rgba(243, 171, 64, 0.8)); /* red to orange with 50% transparency @#
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  /* display: none; @#
  visibility: hidden;
} */
 .dropdown-content {
  position: absolute;
   right: 12%;
   top: 8%;
   border: 2px solid #8b342e;
   padding: 2px;
   background-color: rgb(255, 255, 255, 0.3);
}


.dropdown-content * {
  font-size: 14px;
  background: linear-gradient(to right, rgba(139, 52, 46, 0.8), rgba(243, 171, 64, 0.8)); /* red to orange with 50% transparency */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  /*color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;*/
}

/*
.dropdown-content a:hover {
  background-color: #f1f1f1;
} */